/*
Theme Name: My Theme
Theme URI: 
Author: Fajar Fatoni
Author URI: 
Description: Simple clean website
Version: 0.1
License: GNU General Public License v2 or later
License URI: gnu.org/licenses/gpl-2.0.html
Text Domain: Fajar Fatoni
*/

@font-face {
    font-family: Crimson Text Regular;
    src: url(../fonts/CrimsonText/CrimsonText-Regular.ttf);
}


@font-face {
    font-family: Barlow Condensed Light;
    src: url(../fonts/Barlow/BarlowCondensed-Light.ttf);
}

@font-face {
    font-family: Barlow Condensed Regular;
    src: url(../fonts/Barlow/BarlowCondensed-Regular.ttf);
}

@font-face {
    font-family: Barlow Condensed Semi Bold;
    src: url(../fonts/Barlow/BarlowCondensed-SemiBold.ttf);
}


.grayscale { filter: grayscale(100%); }

table{
    width:100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding:0px; margin:0px;
    width: auto;
    color: #2e2e2e;
    background: #EEE;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    z-index: 2;
    transition: transform 0.4s;
    padding-bottom: fixed;
    
}

.navbar__wrapper{
    left: 10%;
    width: 80%;
}

.navbar__background{
  background: rgba(58, 58, 58, 0.7);
}

#navbar__logo img{
    float: right;
}

#navbar__menu {
	margin:10px;
    float: right;
	font-family: sans-serif;
}

#navbar__search {
	padding-top:8px;
    font-size: 10pt;
}

ol,ul {
	list-style: none;
}

#menu-test {
	margin:10px;
	width:900px;
    float: right;
	font-family: sans-serif;
}

#menu-test li {
	display:block;
	width:120px;
	float:right;
	margin-left:2px;
}

#menu-test a {
    font-family: 'Barlow Condensed Light';
    font-size: 18pt;
    text-align: center;
	display:block;
	text-decoration:none;
	color:#fff;
}

#menu-test a:hover {
	color:#ABABAB;
}

.header__bg {
    background-image: url("../images/Header-Image.jpg");
    /* Full height */
    height: 1080px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header__title {
    display: flex;
    font-family: 'Crimson Text Regular';
    font-size: 78pt;
    letter-spacing: 3px;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#header__button {
    margin-top: 400px;
}

#container{
    background-color: #fff;
    min-height: 1000px;
    padding-top: 10px;
    margin: 0px auto;
}

.content--1{
    background-color: #fff;
    padding:120px 0px 180px 0px;
}

.content--2{
    background-color: #f2f2f2;
    padding:120px 0px 180px 0px;
}

.content__text{
    position: relative;
    left: 20%;
    width:60%;
    padding:20px 0px 80px 0px; 
}

.content__text--title{
    font-family: 'Crimson Text Regular';
    font-size: 54pt;
    text-align: center;
    padding:10px;
}

.content__text--desc{
    font-family: 'Barlow Condensed Light';
    font-size: 20pt;
    text-align: center;
    padding:10px;
}

.content__loop--img{
    position: relative;
    left: 12%;
    width:76%;
    text-align: center;
    padding:100px 0px 80px 0px; 
}

.gallery-1 {
    background-image: url("../images/gallery-1.jpg");
    
    /* Full height */
    width: 350px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    
}

.gallery-2 {
    background-image: url("../images/gallery-2.jpg");
    /* Full height */
    width: 350px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    
}

.gallery-3 {
    background-image: url("../images/gallery-3.jpg");
    /* Full height */
    width: 350px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    
}

.gallery-4 {
    background-image: url("../images/gallery-4.jpg");
    /* Full height */
    width: 350px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    
}

.gallery__title {
    background: rgba(58, 58, 58, 0.4); 
    display: flex;
    font-family: 'Barlow Condensed Light';
    font-size: 25pt;
    letter-spacing: 3px;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.content__button {
    font-family: 'Barlow Condensed Light';
    font-size: 18pt;
    background-color: #f8c46c;
    border: none;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.content__icon{
    position: relative;
    left: 10%;
    width:80%;
    padding:20px 0px 80px 0px; 
}

.content__icon--wrapper{
    margin: auto;
    width: 100%;
}

.content__icon--img{
    text-align: center;
}

.content__icon--img img{
    width: 18%;
}

.content__icon--desc{
    font-family: 'Barlow Condensed Regular';
    font-size: 28pt;
    text-align: center;
    width: 30%;
    padding: 5px;
}

.content__multiside{
    position: relative;
    left: 15%;
    width:70%;
    padding:200px 0px 80px 0px; 
}


.content__multiside--img{
    width:46%;
    padding: 15px 15px 15px 15px;
}

.content__multiside--img img{
    
    width:100%;
}

.content__multiside--separator{
    width:8%;
}

.content__multiside--text{
    text-align: left;
    vertical-align:top;
    width:46%;
    padding: 15px 15px 15px 15px;
}

.content__multiside--titlesm{
    font-family: 'Barlow Condensed Regular';
    font-size: 28pt;
    padding:25px 0px 10px 0px;
}

.content__multiside--titlelg{
    font-family: 'Crimson Text Regular';
    font-size: 40pt;
    line-height: 80%;
    padding:10px 0px 10px 0px;
}

.content__multiside--date{
    font-family: 'Barlow Condensed Regular';
    font-size: 18pt;
    padding:10px 0px 10px 0px;
}

.content__multiside--desc{
    font-family: 'Barlow Condensed Light';
    font-size: 19pt;
    padding:10px 0px 10px 0px;
}

.content__multiside--readmore{
    font-family: 'Barlow Condensed Semi Bold';
    font-size: 19pt;
    letter-spacing: 2px;
    padding:10px 0px 10px 0px;
}

.content__multiside--readmore-icon{
    font-family: 'Barlow Condensed Semi Bold';
    font-size: 14pt;
}
 
#footer{
    background: #2e2e2e;
    color:#FFF;
    font-size: 12px;
    text-align: center;
    padding:70px 80px 70px 80px;
    margin-bottom: -10%;
}
#footer a{
    color:#FFF;
}

.footer__wrapper{
    position: relative;
    left: 15%;
    width:70%;
}

.footer__img{
    width:20%;
}

.footer__img img{
    float: left;
    width:55%;
}

.footer__contact{
    width:40%;
}

.footer__contact--desc{
    font-family: 'Barlow Condensed Light';
    text-align: left;
    font-size: 18pt;
    margin-bottom: 10px;
}

.footer__newsletter{
    vertical-align:top;
    text-align: right;
    width:40%;
    
}

.footer__newsletter--title{
    font-family: 'Barlow Condensed Light';
    text-align: left;
    font-size: 20pt;
    margin-bottom: 10px;
}

.footer__newsletter--icon{
    font-size: 20pt;
    margin-bottom: 10px;
}

.fa__color--grey{
    color: #ababab;
}

/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Style the input fields */
.form-text{
    font-family: 'Barlow Condensed Light';
    font-size: 16pt;
    vertical-align: middle;
    text-align: left;
    width: 60%;
    margin: 5px 0px 5px 0;
    padding: 10px 10px 10px 20px;
    background-color: #2e2e2e;
    border: 1px solid #838382;
}

/* Style the submit button */
.form-inline button {
    font-family: 'Barlow Condensed Light';
    font-size: 16pt;
    width: 30%;
    padding: 10px 20px;
    background-color: #f8c46c;
    border: 1px solid #f8c46c;
    color: white;
}